<div  id="confirmacion" >

   
            <div >
              <label style="font-size: large;" for="fname">Nombre completo</label>
              <input type="text" id="nombre" name="nombre" placeholder="Otto Sanabria Ortega">

            </div>
            <div class="col-75">
              <label for="fname">Campos reservados:</label>
            </div>
            <div class="col-75" id="campos">

            </div>

            <table class="classcentered highlight col-75 " id="campos2">
              <thead>
                <tr>
                  <th>Invitados </th>

                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          


          <div class="row">
            <div class="col s12">
            <button id="GetButton" class="btn" onclick="GetCampos(),GetCampos2()">Obtene
              Campos</button>
          </div>
        </div>
          <a href="/conf" id="btnContinuar" class=" btn" onclick="SetUserName()">Continuar</a>

      



   
    
  </div>